extends layout.jade

block content
	.results(ng-controller='PizzasController as pizzasCtrl')
		h2 Сортировка
		.filters
			label Название: 
				input(ng-model="searchText")
			label Размер: 
				select(ng-model="radius", ng-options='size for size in pizzasCtrl.filters.sizes')
			//- form(action="/" type="POST")
				button refresh
		h2 Пиццы!
		.pizza(ng-repeat='pizza in pizzas | filter:filter')
			img.img(width='177', ng-src='{{pizza.img}}')
			.desc
				h3.name {{pizza.name}}
				.ingredients {{pizza.ingredients}}
			.options
				dl.option(ng-repeat='option in pizza.data | filter:radius')
					.size
						dt.fa.fa-expand
						dd {{option.size}} см.
					.weight
						dt.fa.fa-spoon
						dd {{option.weight}} гр. 
					.price
						span {{option.price}} #[i.fa.fa-rub] 
					.relprice
						i {{option.rubmg.toFixed(3)}} за гр.
			


