body {
  font-family: 'Trebuchet MS';
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}
h2 {
  text-align: left;
  margin: 0 0 5px;
}
form {
  display: none;
}
.content {
  width: 620px;
  margin: 0 auto 30px;
  font-style: 1em;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 5px 2px rgba(0,0,0,0.2);
}
.header {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAATklEQVQYV2O0O3X+PwMDA8MhM0NGEI0LMBKtEJsJD27YgW1R0DgEtwWrdUQrxGYLY8V5iDUdhghrKFOITfenmXFgW/jSF+H3DNEKsdkCAO99IAvSBrFVAAAAAElFTkSuQmCC");
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
.filters {
  margin-bottom: 15px;
}
.pizza {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 3px;
}
.pizza .img,
.pizza .desc,
.pizza .options {
  display: inline-block;
  vertical-align: top;
}
.pizza .img {
  flex-shrink: 0;
  width: 177px;
}
.pizza .desc {
  width: 230px;
  padding: 0 10px;
}
.pizza .options {
  width: 170px;
}
.pizza .options .option {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 0.5em;
  float: left;
  width: 49%;
}
.pizza .options .option dd {
  margin-right: 0px;
}
.pizza .options .option dt {
  margin-right: 2px;
}
.pizza .options .option:first-child {
  float: none;
  font-size: 1em;
  width: 100%;
}
.pizza .options .option:first-child dt,
.pizza .options .option:first-child dd {
  margin-right: 5px;
}
.pizza .options .option:nth-child(2n) {
  margin-right: 2%;
}
.pizza .options .fa {
  color: #667;
}
.pizza .options dt,
.pizza .options dd {
  display: inline;
  margin-left: 0;
  margin-right: 5px;
}
.pizza .options .weight {
  text-align: right;
}
.pizza .options .size,
.pizza .options .weight {
  width: 50%;
  float: left;
}
.pizza .options .price {
  display: block;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #d11e48;
}
.pizza .options .price i {
  font-size: 0.7em;
  color: #334;
}
.pizza .options .relprice {
  text-align: center;
}
